@import url('layout.css');
@import url('utils.css');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Quicksand:wght@400;700&display=swap');

:root {
  /* FONTS */
  --font-family-sans: 'Quicksand';
  --font-family-mono: 'Hack';

  /* COLORS */
  --absolute-fg-color: #000;
  --absolute-bg-color: #fff;
  --primary-color: #849dff;
  --bg-color: #fff;
  --accent-color: #f3f3f3;
  --border-color: #e8e8e8;
  --fg-color: #000;
  --text-color: #6f6f6f;

  /* SIZES */
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

[data-theme='dark'] {
  --absolute-fg-color: #fff;
  --absolute-bg-color: #000;
  --bg-color: #000;
  --accent-color: #161616;
  --border-color: #2e2e2e;
  --fg-color: #fff;
  --text-color: #a0a0a0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizespeed;
  line-height: var(--s1);
  font-family: var(--font-family-sans);
  background-color: var(--bg-color);
  color: var(--fg-color);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-end: 0;
  margin-block-start: 0;
  font-weight: 700;
}

h4,
h5,
h6 {
  font-family: var(--font-family-mono);
}

h1 {
  font-weight: 700;
  font-size: var(--s4);
  line-height: var(--s4);
  letter-spacing: -0.3rem;
}

h2 {
  font-size: var(--s3);
  line-height: var(--s3);
  letter-spacing: -0.2rem;
}

p {
  font-weight: 400;
  color: var(--text-color);
  font-size: 18px;
}

a:not(.a-icon) {
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--font-family-mono);
  text-transform: uppercase;
  font-size: 12px;
}

.a-icon {
  color: var(--fg-color);
}

.button {
  color: var(--bg-color) !important;
  background-color: var(--primary-color);
  border-radius: var(--s1);
  padding: var(--s-5) var(--s1) var(--s-5) var(--s1);
  width: fit-content;
  font-family: var(--font-family-mono);
  text-transform: uppercase;
  font-size: 12px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.button:hover {
  cursor: pointer;
}

button {
  background-color: var(--accent-color);
  border: 1px solid var(--border-color);
  border-radius: var(--s-3);
}

button:hover {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border: 2px solid var(--border-color);
}

th,
td {
  border: 1px solid var(--border-color);
  padding: 10px 20px;
}

.base-container {
  margin-top: 6rem;
}
